In [ ]:
# Clone the entire repo.
!git clone -l -s https://github.com/chriskyfung/pandas_stock_notebook.git
%cd pandas_stock_notebook
!ls

In [ ]:
!pip install -r requirements.txt

In [ ]:
!if ! [[ "$(pwd)" =~ pandas_stock_notebook$ ]] ; then cd pandas_stock_notebook ; fi

%load_ext dotenv
%dotenv

The dotenv extension is already loaded. To reload it, use:
  %reload_ext dotenv

In [1]:
from datetime import date, timedelta

past7days = {
  'start_date' : date.today() - timedelta(days=7),
  'end_date': date.today()
}

print("今天是", past7days['end_date'])
print("7天前是", past7days['start_date'])

今天是 2021-11-25
7天前是 2021-11-18

In [2]:
import pandas as pd
import pandas_datareader as pdr

stock_code = 'HKEX/00001'
start_date = past7days['start_date']
end_date = past7days['end_date']

df = pdr.DataReader(stock_code, 'quandl', start_date, end_date)
display(df)
display(df.iloc[0])

,NominalPrice,NetChange,Change,Bid,Ask,PEx,High,Low,PreviousClose,ShareVolume000,Turnover000,LotSize
Date,,,,,,,,,,,,
2021-11-24,52.45,NaN,NaN,52.40,52.45,NaN,52.65,52.15,52.30,2523.0,132362.0,NaN
2021-11-23,52.30,NaN,NaN,52.30,52.35,NaN,52.80,51.80,52.45,3633.0,190336.0,NaN
2021-11-22,52.45,NaN,NaN,52.40,52.45,NaN,52.65,52.05,52.10,2253.0,117983.0,NaN
2021-11-19,52.10,NaN,NaN,52.10,52.15,NaN,52.45,51.85,52.25,3589.0,187042.0,NaN
2021-11-18,52.25,NaN,NaN,52.25,52.30,NaN,52.50,52.20,52.50,2610.0,136510.0,NaN

NominalPrice          52.45
NetChange               NaN
Change                  NaN
Bid                   52.40
Ask                   52.45
PEx                     NaN
High                  52.65
Low                   52.15
PreviousClose         52.30
ShareVolume000      2523.00
Turnover000       132362.00
LotSize                 NaN
Name: 2021-11-24 00:00:00, dtype: float64

In [12]:
import pandas as pd
import pandas_market_calendars as mcal

# Create a calendar
hkex = mcal.get_calendar('HKEX')

# Show available calendars in the past 7 days
open_dates = hkex.valid_days(past7days['start_date'],past7days['end_date'])
print(f'\nOpen dates (past 7 days):\n {open_dates.date}')

# Show the last stock open date
last_open_date = open_dates[-1].date()
print(f'\nLast open date: {last_open_date}')

Open dates (past 7 days):
 [datetime.date(2021, 11, 18) datetime.date(2021, 11, 19)
 datetime.date(2021, 11, 22) datetime.date(2021, 11, 23)
 datetime.date(2021, 11, 24) datetime.date(2021, 11, 25)]

Last open date: 2021-11-24

In [13]:
from stocks import stock_profile # 從 stocks.py 載入 stock_profile 類別
  
stocks = stock_profile()
stocks.loadJsonProfile('./stocks.json') # 從JSON文件讀入股票組合清單及股票名稱索引
tickers = stocks.getAllStockCodes()
stocks.cacheFromQuandl(tickers, last_open_date) # 從Quandl下載股票組合之最近一天資料

港交所(0388.hk):

,NominalPrice,NetChange,Change,Bid,Ask,PEx,High,Low,PreviousClose,ShareVolume000,Turnover000,LotSize
Date,,,,,,,,,,,,
2021-11-24,453.0,NaN,NaN,452.8,453.0,NaN,459.0,447.4,457.8,4860.0,2193583.0,NaN

騰訊(0700.hk):

,NominalPrice,NetChange,Change,Bid,Ask,PEx,High,Low,PreviousClose,ShareVolume000,Turnover000,LotSize
Date,,,,,,,,,,,,
2021-11-24,472.2,NaN,NaN,472.2,472.4,NaN,480.8,467.4,481.2,26022.0,12343857.0,NaN

中石油(0857.hk):

,NominalPrice,NetChange,Change,Bid,Ask,PEx,High,Low,PreviousClose,ShareVolume000,Turnover000,LotSize
Date,,,,,,,,,,,,
2021-11-24,3.57,NaN,NaN,3.57,3.58,NaN,3.7,3.56,3.5,120084.0,434592.0,NaN

中海油(0883.hk):

,NominalPrice,NetChange,Change,Bid,Ask,PEx,High,Low,PreviousClose,ShareVolume000,Turnover000,LotSize
Date,,,,,,,,,,,,
2021-11-24,7.95,NaN,NaN,7.95,7.96,NaN,8.05,7.92,7.91,49325.0,392828.0,NaN

建設銀行(0939.hk):

,NominalPrice,NetChange,Change,Bid,Ask,PEx,High,Low,PreviousClose,ShareVolume000,Turnover000,LotSize
Date,,,,,,,,,,,,
2021-11-24,5.2,NaN,NaN,5.19,5.2,NaN,5.23,5.17,5.19,169547.0,881115.0,NaN

中國移動(0941.hk):

,NominalPrice,NetChange,Change,Bid,Ask,PEx,High,Low,PreviousClose,ShareVolume000,Turnover000,LotSize
Date,,,,,,,,,,,,
2021-11-24,47.4,NaN,NaN,47.4,47.5,NaN,47.95,47.4,47.75,16296.0,776364.0,NaN

比亞迪股份(1211.hk):

,NominalPrice,NetChange,Change,Bid,Ask,PEx,High,Low,PreviousClose,ShareVolume000,Turnover000,LotSize
Date,,,,,,,,,,,,
2021-11-24,313.8,NaN,NaN,313.6,313.8,NaN,317.6,312.2,317.0,4099.0,1287262.0,NaN

小米(1810.hk):

,NominalPrice,NetChange,Change,Bid,Ask,PEx,High,Low,PreviousClose,ShareVolume000,Turnover000,LotSize
Date,,,,,,,,,,,,
2021-11-24,19.26,NaN,NaN,19.24,19.26,NaN,20.6,19.02,20.7,395151.0,7669005.0,NaN

舜宇光學(2382.hk):

,NominalPrice,NetChange,Change,Bid,Ask,PEx,High,Low,PreviousClose,ShareVolume000,Turnover000,LotSize
Date,,,,,,,,,,,,
2021-11-24,233.8,NaN,NaN,233.6,233.8,NaN,236.6,229.4,233.0,2812.0,655552.0,NaN

In [6]:
from termcolor import colored
import re

asked_stock = input('Enter a stock code/name: ') # 詢問要查閱的股票代號/名稱

default_suffix = '.hk'
stock_code = None
stock_name = None

# 判辨輸入的字串是股票代號還是股票名稱
match = re.match('^(?P<code>\d+)(?P<suffix>\.\w+)?$', asked_stock)
if match:
  stock_code = asked_stock
  if match.group('suffix') == None:
    stock_code = stock_code + default_suffix
  stock_code = stock_code.lower().zfill(7)
  stock_name = stocks.code2name(stock_code)
else:
  stock_code = stocks.name2code(asked_stock)
  stock_name = asked_stock
# 從快取要查閱的股票資料
if (stock_code in stocks.dataframes):
  df = stocks.dataframes[stock_code]
  columns = list(df) # or df.columns
  # 將最近一天的資料Print到屏幕輸出
  print(f'\nStock data of {stock_name}({stock_code}) on the last open day ({last_open_date})\n')
  for column in columns:
    print(f'{column:14s}: {df.iloc[-1].loc[column]:>15,.2f}')
else:
  # 如果沒有快取，則輸出紅色的文字提示！
  print(colored(f'\nCannot find "{asked_stock}" from the cached data', 'red'))

Stock data of 小米(1810.hk) on the last open day (2021-07-02)

NominalPrice  :           26.20
NetChange     :             nan
Change        :             nan
Bid           :           26.15
Ask           :           26.20
PEx           :             nan
High          :           27.00
Low           :           25.95
PreviousClose :           27.00
ShareVolume000:      134,959.00
Turnover000   :    3,530,458.00
LotSize       :             nan